
<canvas class='connecting-dots'></canvas>
 <div class="wrapper">
    <div class="content">
      <h1>ILIA DEMERTCHIAN</h1>
      <h2>Full-Stack Web Developer</h2>
    </div>

    <div class="links">
      <a class="fa fa-github fa-2x" href="https://github.com/ilia24"></a>
      <a class="fa fa-linkedin fa-2x" href="https://www.linkedin.com/in/ilia-demertchian-92ab20107/"></a>
      <a class="fa fa-facebook fa-2x" href="https://www.facebook.com/profile.php?id=100013482827313"></a>
      <a class="fa fa-cog fa-2x" href="https://www.facebook.com/profile.php?id=100013482827313"></a>
      <p class="number">(647)-994-2428</p>
    </div>
  </div>
