// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
 text-decoration: none;
 box-sizing: border-box;
 -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
 text-decoration: none;

}
body {
 line-height: 1;
 text-decoration: none;

}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}

.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  background-image: image-url("pexels-photo-173434");
  background-position: center;
  background-size: cover;
  background-color: rgba(27, 27, 27, 0.77);
  background-blend-mode: multiply;
  outline: 1px solid rgba(255, 255, 255, 0.33);
  outline-offset: -11px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 65px;
  letter-spacing: 5px;
  border: rgba(167, 20, 20, 0.67);
  color: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-width: 4px;
  padding: 9px 15px 13px 15px;
  margin: auto;
  display: inline-block;
}

h2  {
 font-family: 'Oswald', sans-serif;
 color: rgba(255, 255, 255, 0.8);
 font-size: 20px;
 margin-top: 14px;

}

.content {
 vertical-align: middle;
 display: inline-block;
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 margin: 27vh 8px 6vh 8px;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0.5;
}

.main {
  height: calc( 100% - 138px );
}
.portfoliocontent {
  width: 100%;
  height: 83%;
}

.title {
  height: 138px;
}
#navbutton {
  font-size: 4em;
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  margin-top: 15vh;
  z-index: 5;
}

#navbutton:hover {
  color: rgba(255, 255, 255, 0.8);
  font-size: 4.3em;
  -webkit-transition: all .15s ease-in-out;
}


.links {
  position: relative;
  z-index: 5;

}

.links a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all .15s ease-in-out;
}
.links a:hover {
  color: rgb(255, 255, 255);
  font-size: 2.2em;
}
.fa.fa-linkedin {
  margin: 0px 24px 0px 28px;
}

.fa.fa-facebook {
  margin-right: 24px
}

.number {
  font-family: 'Oswald', sans-serif;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  top: 12px;
  font-size: 15px;
    -webkit-transition: all .15s ease-in-out;
}

.number:hover {
  color: rgb(255, 255, 255);
  font-size: 19px;
}

// content spacings for screen height
@media only screen and (max-height: 650px) {
.content {
  margin: 18vh 8px 7vh 8px;
}
#navbutton {
  margin-top: 14vh;
}
}

@media only screen and (max-height: 530px) {
.content {
  margin: 15vh 8px 12vh 8px;
}
#navbutton {
  margin-top: 12vh;
}
}


@media only screen and (max-height: 450px) {
h1 {
  font-size: 45px;
}

h2 {
  display: none;
}

.title {
  height: 70px;
}
.content {
  margin: 15vh 8px 3vh 8px;
}
}

@media only screen and (max-height: 350px) {
  h1 {
    font-size: 65px;
  }

  h2 {
    display: block;
  }

  .number {
    display: none;
  }
  #navbutton {
    display: none;
  }
  .content {
    margin: 19vh 8px -7vh 8px;
  }

}

@media only screen and (min-width: 900px) and (min-height: 1600px) {
  h1 {
    font-size: 100px;
  }
  h2 {
    font-size: 50px;
  }
  #navbutton {
    font-size: 10em;
    margin-top: 18vh;
  }
  .links {
    font-size: 2em;
  }
  .links .number {
    font-size: 1em;
  }
  .fa.fa-linkedin {
  margin: 0px 24px 0px 28px;
  }
  .fa.fa-facebook {
  margin-right: 24px;
  }


}
